@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.OpenOrClosed{
    height: 18vh;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* normal neon sign with pulsating light */
  .sign{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: pulse 5s infinite;
    padding: 10px;
  }

  /* neon off with animation */
  .sign-off{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: flicker 2s forwards;
  }

  /* styling to give neon effect to lettering on open and close message */
.neon{
    font-family: 'varela Round', Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 
    0 0 10px #fff,
    0 0 16px #fff,
    0 0 36px rgb(126, 27, 169),
    0 0 50px rgb(126, 27, 169),
    0 0 120px rgb(126, 27, 169)
    ;
}


.OpenCloseButton{
    border: 3px var(--color3) solid;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bolder;
    color: var(--color3);
    margin-top: 20px;
}

/* animation for turing off neon lettering */
@keyframes flicker {
    0%, 15%, 22%, 53%, 57%, 85%{
    text-shadow: 
    0 0 10px #fff,
    0 0 16px #fff,
    0 0 36px rgb(126, 27, 169),
    0 0 50px rgb(126, 27, 169),
    0 0 120px rgb(126, 27, 169)
    }
    20%, 24%, 55%, 100%{
        text-shadow: none;
    }
    100%{
        color: rgb(180, 179, 179)
    }
}

/* animation for making neon lettering seem like its glowing */
@keyframes pulse {
    0%, 20%, 60%, 100%{
    text-shadow: 
    0 0 10px #fff,
    0 0 16px #fff,
    0 0 36px rgb(126, 27, 169),
    0 0 50px rgb(126, 27, 169),
    0 0 120px rgb(126, 27, 169)
    }
    10%, 40%, 80%{
        text-shadow: 
    0 0 10px #fff,
    0 0 16px #fff,
    0 0 20px #fff,
    0 0 36px rgb(126, 27, 169),
    0 0 56px rgb(126, 27, 169),
    0 0 70px rgb(126, 27, 169),
    /* 0 0 102px rgb(126, 27, 169), */
    0 0 150px rgb(126, 27, 169)
    }
    
}