@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
body{
  --color1: #39312e;
  --color2: #ffbd49;
  --color3: #fffd63;
  --color4: #92f759;
  --color5: #3ce6ab;
}

.App {
  text-align: center;
  background-color: #ffbd49;
}

.App-header {
  background-color: var(--color1);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-weight: 500;
  color: white;
  padding-left: 30px;
  font-family: 'Zen Tokyo Zoo', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-logo{
    height: 80px;
    position: absolute;
    right: 45px;
    top: 0px;
}

.App-main{
  background-color: #ffbd49;
  height: 85vh;
}

.App-footer{
  background-color: #39312e;
  height: 5vh;
  color: white;
  font-family: 'Zen Tokyo Zoo', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
}


