@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');body{
  --color1: #393E60;
  --color2: #5F465C;
  --color3: #D0C2A8;
  --color4: #E8DEB9;
  --color5: #8A626B;
}

.App {
  text-align: center;
  background-color: var(--color1);
}

.App-header {
  background-color: var(--color3);
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-weight: 500;
  color: black;
  font-family: 'Marcellus SC', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-logo{
    height: 200px;
}

.App-main{
  background-color: var(--color5);
  height: 85vh;
}

.battle-arena{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color5);
}

.monster{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.vsImage{
  height: 100px;
}

.parade-container{
  height: 30vh;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.creatures{
  margin: 7px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer{
  background-color: #39312e;
  height: 5vh;
  color: white;
  font-family: 'Marcellus SC', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
  position: absolute;
  bottom: 0vh;
  width: 100%;
}


